extends ../layout/index

block content
  div#reset-password-email
    p
      | Hi <strong>!{_data.userInfo.displayName}</strong>,
    p
      | You have requested to reset your password for your <strong>DevSavior</strong> account ! Please click this button and follow the instructions to reset your password:
    div.block
      table.button.large.expand
        tr
          td
            table
              tr
                td
                  a.float-center(href= _data.resetPasswordLink, align='center') Reset Password
    p.note
      | If the button doesn't work, copy & paste this link into your browser:
      br
      br
      a.copy-link(href=_data.resetPasswordLink) !{_data.resetPasswordLink}
      br
      br
      | Note: <em>The link will expire in 1 hour.</em>
    div.block
      p.note
        | If you didn't make this request, you can ignore this email.
    div.block
      p
        | Thanks and Best regards,
        br
        strong DevSavior Team
