extends ../layout/index

block content
  div#welcome-admin-email
    p
      | Hi <strong>!{_data.userInfo.displayName}</strong>,
    p
      | Welcome to <strong>JuniorViec Admin Board</strong> ! You have just been verified as JuniorViec admin with this email account: <em>!{_data.userInfo.email}</em>. Congratulations!
    div.block
      p
        | Thanks,
        br
        strong The JuniorViec Team
