extends ../layout/index

block content
  div#welcome-social-email
    p
      | Hi <strong>!{_data.userInfo.displayName}</strong>,
    p
      | Welcome to <strong>DevSavior</strong> ! You have just signed up via <strong>!{_data.provider}</strong> with this email: <em>!{_data.userInfo.email}</em>. This email will be used to receive our recommendation jobs.
    div.block
      p
        | Thanks and Best regards,
        br
        strong DevSavior Team
