extends ../layout/index

block content
  div#verify-student-email
    p
      | Hi 
      |
      strong !{`${_data.userInfo.firstName} ${_data.userInfo.lastName}` }
      | ,
    p
      | Welcome to 
      strong JuniorViec
      | ! Thank you for signing up, please verify your email by clicking the following button:
    div.block
      table.button.large.expand
        tr
          td
            table
              tr
                td
                  a.float-center(href= _data.verificationLink, align='center') Confirm my account
    p.note
      | If the button doesn't work, copy & paste this link into your browser:
      br
      | !{_data.verificationLink}
      br
      | (Note: The link will expire after 1 hour)
    div.block
      p
        | Thanks,
        br
        strong The JuniorViec Team
        | .
