extends ../layout/index

block content
  div
    p
      | Hi <strong>admin</strong>,
    p
      | <i>!{_data.company.name}</i> has just edited one of their jobs: <strong>!{_data.job.title}</strong>.
    p
      | Please click on the following link to review it:
    div.block.job-link-wrapper
      a.job-link(href=_data.jobLink) !{_data.jobLink}
    div.block
      p
        | Thanks and Best regards,
        br
        strong DevSavior Team
